@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
	padding: 0;
	margin: 0;
}

nav a{
	margin-right: 1.5em;
}

footer a{
	color: #fff;
}

.CTA{
	background-color: #f8f8f8;
	height: 3em;
	padding: 1.5em;
	width: 3.5em;
}

div{
	background-color: #f8f8f8;
	height: 360px;
	margin-bottom: 1.5em;
	width: 540px;
}

body{
	color: #444;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.5em; 
}

footer{
	background-color: #444;
	color: #d8d8d8;
	padding: 2em;
}

h1 {
	font-size: 3.5em;
	font-weight: 600;
	line-height: 1.3em;
	text-align: center;
}

h2{
	font-size: 2em;
	font-weight: 600;
	text-align: center;
}

h3{
	font-size: 1.5em;
	font-weight: 500;
}

h4{
	letter-spacing: .05em;
	font-size: .75em;
	font-weight: 600;
	margin-bottom: .5em;
	text-transform: uppercase;
}

p{
	width: 30em;
	font-weight: 400;
}